<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="tests/.phpunit.result.cache"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true">
    
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
        
        <testsuite name="E2E">
            <directory suffix="Test.php">tests/E2E</directory>
        </testsuite>
        
        <testsuite name="Payment System">
            <directory suffix="Test.php">tests/PaymentSystem</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="tests/.phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">admin</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>lib</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage-report" />
            <text outputFile="tests/coverage.txt" />
            <clover outputFile="tests/coverage.xml" />
        </report>
    </coverage>

    <php>
        <const name="BTR_PLUGIN_DIR" value="./" />
        <const name="BTR_VERSION" value="1.0.98" />
        <const name="BTR_DEBUG" value="true" />
        <const name="WP_DEBUG" value="true" />
    </php>
</phpunit>